body {
  font-family: Arial, sans-serif;
  margin:0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  height: 100vh; 
}

.title {
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  margin-left: 40px;
}

.title h1 {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 20px; 
  width: 90vw; 
  height: 100%; 
  justify-content: center; 
  align-items: center; 
  margin-left: 10%; 
}

.grid-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  width: 100%; 
}

h1, h2 {
  text-align: center;
  color: #444;
}

form {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

div.herons-formula,
div.ambiguous-case,
div.newtons-method,
div.polynomial-functions {
  width: 100%; 
  max-width: 400px;
}

input[readonly] {
  background-color: #e9ecef;
  color: #495057;
  cursor: not-allowed;
}